{% extends 'base.html.twig' %}

{% block title %}Inscription Nakama-list{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="form-group bg-dark container">
        {{ form_start(registrationForm) }}
            <div class="form-control bg-dark container">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-control bg-dark container">
                {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
                }) }}
            </div>
            <div class="form-control bg-dark container">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>

        <button type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
