{% extends 'base.html.twig' %}

{% block title %}Nakama-list{% endblock %}

{% block body %}
    <div class="container-fluid">
        <section>
            <div class="row">
                <div class="col-6 filtreAnime">
                    <div class="animeFilter">Anime</div>
                </div>
                <div class="col-6 filtreManga">
                    <div class="mangaFilter">Manga</div>
                </div>
            </div>

            <div class="row filtres">
                <select class="form-control form-control-lg" name="" id="" class="col-4">
                    <option value="">Trier par</option>
                    <option value="">Note</option>
                    <option value="">A-Z</option>
                </select>
                <div class="col-4"></div>
                <select class="form-control form-control-lg" name="" id="" class="col-4">
                    <option value="">Filtrer par</option>
                    <option value=""></option>
                </select>
            </div>
        </section>
        <section>
            <div class="row">
                {% for anime in animes %}
                <div class="card col-12 ficheAnime">
                    <img src="{{ anime.image_url }}" alt="">
                    <div class="row">
                        <p class="id">{{anime.mal_id}}</p>
                    </div>
                    <div class="row">
                        <p>{{ anime.title }}</p>
                        <p>{{ anime.title_japanese }}</p>
                    </div>
                    <div class="row">
                        <p>{{ anime.synopsis }}</p>
                    </div>
                    <div class="row">
                        <p>{{ anime.type }}</p>
                    </div>
                    <div class="row">
                        <p>{{ anime.score }}</p>
                    </div>
                    <a class="btn btn-light" href="{{ path('app_fiche_anime', {'id': anime.mal_id} ) }}">Voir la fiche</a>
                </div>
                {% endfor %}
                
                {% for manga in mangas %}
                <div class="card col-12 ficheManga">
                    <img src="{{ manga.image_url }}" alt="">
                    <div class="row">
                        <p class="id">{{manga.mal_id}}</p>
                    </div>
                    <div class="row">
                        <p>{{ manga.title }}</p>
                        <p>{{ manga.title_japanese }}</p>
                    </div>
                    <div class="row">
                        <p>{{ manga.synopsis }}</p>
                    </div>
                    <div class="row">
                        <p>{{ manga.type }}</p>
                    </div>
                    <div class="row">
                        <p>{{ manga.score }}</p>
                    </div>
                    <a class="btn btn-light" href="{{ path('app_fiche_manga', {'id': manga.mal_id} ) }}">Voir la fiche</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}
