{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
    <h1>Nous contacter</h1>
    {% for message in app.flashes('message') %}
        <div class="alert success">{{message}}</div>
    {% endfor %}
    <div class="form-group contactForm">
        {{ form_start(contactForm) }}
            <div class="form-group">
                {{ form_row(contactForm.nom, {'label': 'Pseudo : '}) }}
            </div>
            <div class="form-group">
                {{ form_row(contactForm.email, {'label': 'Email : '}) }}
            </div>
            <div class="form-group">
                {{ form_row(contactForm.message, {'label': 'Votre message : '}) }}
            </div>
            <div class="form-group">
                {{ form_row(contactForm.Envoyer) }}
            </div>
        {{ form_end(contactForm) }}
    </div>
</div>
{% endblock %}
